<div class="container">
<div class="row mb-5 mt-3">
<%= form_with(model: questionnaire) do |form| %>

  <div class="field mb-2">
    <p class="mt--2"><%= form.label :name %>
    <%= form.text_field :name %> </p>
    <p><%= form.label :token %>
    <%= form.text_field :token %></p>
  </div>

  <div data-controller="nested-form" data-nested-form-index-value='QUESTION_RECORD'>
    <template data-nested-form-target='template'>
      <%= form.fields_for :questions, Question.new, child_index: 'QUESTION_RECORD' do |question| %>
        <%= render 'question_fields', form: question %>
      <% end %>
    </template>

    <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', form: question %>
    <% end %>

<%# <div class="container"> %>
    <div data-nested-form-target="add_item">
      <%= link_to "✚ Question", "#", data: { action: "nested-form#add_association" }, class: "btn btn-secondary ms-4", id:"add-question" %>
    <%# </div> %>
  </div>
</div>
<div class="container_back2">
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
    </div>
  <% end %>
</div>
</div>
