<%= render 'shared/navbar' %>

<div class="row justify-content-center mt-4 mb-5">
  <div class="col-md-8" id="mysite">

 <div class="container mb-5">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search ...">
    </div>

    <script>

    // repeat.onclick = ()=>{

    // }
    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>

    <table class="table table-striped table-hover" id="myTable">
      <tr class="header">

      <thead>
        <tr>
          <th>Email</th>
          <th>Student</th>
          <th>Score</th>
          <th>Date</th>
          <th>Condition</th>
          <th>Repeat</th>
        </tr>
      </thead>
      <tbody>



    <% if current_user.teacher_role? %>
      <%# <div class="grades">
        <h3 class="mb-4"><strong>Student grades:</strong></h3> %>
        <%# <ol> %>
          <% @grades.each do |grade|%>
          <tr>
          <%# <li> %>
          <span class="mytooltip tooltip-effect-1">
              <%# <td class="tooltip-item">= link_to questionnaire.email, questionnaire_path(questionnaire)</td> %>
            <span class="tooltip-content clearfix">
            </span>
            </span>
            <%# <p><strong>Name:</strong>  %>
             <p><td><%=grade.user.email%></td></p>
            <%# <p><strong>Email:</strong>  %>
            <p><td><%=grade.user.name%></td></p>
            <%# <p><strong>Score:</strong>  %>
             <p><td><%= grade.score %></td></p>
             <p><td><%= grade.created_at.to_date %></td></p>
             <p><td><% if (grade.score * 100) / @nquestions >= 70 %>
             <p class="aprov"> ✔ Approved</td> </p>
             <% else %>
             <p class="reprov">✘ Disapproved</td> </p>
             <%end%>
  <td> <%= simple_form_for grade, url: gradesedit_path do |f| %>
  <div class="form-check form-switch">
   <%= f.hidden_field :user_id, value: grade.user.id %>
   <%= f.hidden_field :questionnaire_id, value: @questionnaire.id %>
   <%= f.hidden_field :score, value: grade.score %>
      <%= f.input :repeat,
                  as: :boolean %></td>
    </div>
     <td><%= f.submit class: "btncheck", value: "✔" %> </td>
    <%end%>
  </div>
          <%# </li> %>
          </tr>
          <% end %>
        <%# </ol> %>



  </tbody>
        <tr>
      </table>
        <%= link_to '◀ Back', questionnaires_path, class: "btn btn-outline-secondary mt-3" %>
</div>

    <%else%>
      <h3>Hi, if you are a student, you can't see the grades :)</h3>
    <%end%>
    </div>
</div>
</div>
