<%= render 'shared/navbar' %>
<% if current_user.teacher_role? %>
        <div class="container_coffee">
          <button class="coffee">
            <a href="https://open.spotify.com/playlist/7nCRh8ivvFmxhVqpD6PqM0?si=08f214d682d24cc3" target="_blank">
                  <div>
                    <span>
                      <p><i class="fa fa-mug-hot"></i> Need a coffee break?</p><p>:)</p>
                    </span>
                  </div>
                  <div>
                    <span>
                      <h4><i class="fab fa-spotify"></i> Listen our playlist on Spotify</h4>
                    </span>
                  </div>
                  </div>
              </a>
          </button>

</div>
<div class="container mt">

<p><h2><strong>Assessments</strong></h2></p>

<%= link_to '✚', new_questionnaire_path, class: "btn btn-primary mb-5" %>

<h3 class="mb-5 mt-2">Subject</h3>
    <section class="card-section">
      <div class="card-area">
       <div class="row">
    <% @quest_user.each do |questionnaire| %>
             <div class="cardttt">
            <div class="flip-card">
                <div class="flip-card__container">
                  <div class="card-front">
                    <div class="card-front__tp card-front__tp--quiz">
                      <h2 class="card-front__heading">
                        <%=questionnaire.name%>
                      </h2>
                    </div>
                      <div class="card-front__bt">
                        <p class="card-front__text-view card-front__text-view--quiz">
                          View me
                        </p>
                      </div>
                    </div>
                    <div class="card-back">
                    </div>
                </div>
              </div>
              <div class="inside-page">
                <div class="inside-page__container">
                  <h3 class="inside-page__text">
                      <p><%= link_to 'Show', questionnaire, class: "btn" %></p>
                      <p><%= link_to 'Edit', edit_questionnaire_path(questionnaire), class: "btn" %></p>
                      <p><button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">"✖"</button></p>
                  </h3>
                </div>
              </div>
            </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete a test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Are you sure you want to delete your <%=questionnaire.name%> Test? <br>
       Be careful: You can't reactivate deleted tests! <br>
            </div>
      <div class="modal-footer">
        <p><%= button_to "Yes, Delete!", questionnaire, method: :delete, class: "btn" %></p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, keep it</button>
      </div>
    </div>
  </div>
</div>
            <%end%>
          </div>
        </div>


<!-- Modal -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        </section></div>


<% else %>

      <div class="container mt-4">
        <h2>Welcome to your dashboard, <strong><%= current_user.name %></strong>!</h2>
    <div class="search">
      <form class='form-id'action='/search'>
      <input type="text" name='q' placeholder="Your test key:" aria-label="Key">
      <button class="btn4" type="submit"> Show test</button>
      </form>
</div>
<section class="card-section mt-3">
      <div class="card-area">
</div>

        </section>


</h1>

<% end %>
</div>
<%= render 'shared/footer' %>
