<%= render 'shared/navbar' %>
<% if current_user.teacher_role? %>
        <div class="container_coffee">
          <button class="coffee">
            <a href="https://open.spotify.com/playlist/7nCRh8ivvFmxhVqpD6PqM0?si=08f214d682d24cc3" target="_blank">
                  <div>
                    <span>
                      <p><i class="fa fa-mug-hot"></i> Need a coffee break?</p><p>:)</p>
                    </span>
                  </div>
                  <div>
                    <span>
                      <h4><i class="fab fa-spotify"></i> Listen our playlist on Spotify</h4>
                    </span>
                  </div>
                  </div>
              </a>
          </button>

</div>
<div class="container mt">

<p><h2><strong>Assessments</strong></h2></p>

<%= link_to 'Add a new one', new_questionnaire_path, class: "btn btn-primary mb-5" %>

<h3 class="mb-5 mt-2">Subject</h3>
    <section class="card-section">
      <div class="card-area">
       <div class="row">
    <% @quest_user.each do |questionnaire| %>
             <div class="cardttt">
            <div class="flip-card">
                <div class="flip-card__container">
                  <div class="card-front">
                    <div class="card-front__tp card-front__tp--quiz">
                      <h2 class="card-front__heading">
                        <%=questionnaire.name%>
                      </h2>
                    </div>
                      <div class="card-front__bt">
                        <p class="card-front__text-view card-front__text-view--quiz">
                          View me
                        </p>
                      </div>
                    </div>
                    <div class="card-back">
                    </div>
                </div>
              </div>
              <div class="inside-page">
                <div class="inside-page__container">
                  <h3 class="inside-page__text">
                      <p><%= link_to 'Show', questionnaire, class: "btn" %></p>
                      <p><%= link_to 'Edit', edit_questionnaire_path(questionnaire), class: "btn" %></p>
                      <p><%= button_to "Delete", questionnaire, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></p>
                      </h3>
                  </div>
              </div>
            </div>
            <%end%>
        </div>
        </section>
<% else %>

      <div class="container mt-4">
        <h2>Welcome to your dashboard, <strong><%= current_user.name %></strong>!</h2>
    <div class="search">
      <form class='form-id'action='/search'>
      <input type="text" name='q' placeholder="Your test key:" aria-label="Key">
      <button class="btn4" type="submit"> Show test</button>
      </form>
</div>
<section class="card-section mt-3">
      <div class="card-area">
</div>

        </section>


</h1>

<% end %>
</div>
<%= render 'shared/footer' %>
