<%= render 'shared/navbar' %>
<% if current_user.teacher_role? %>
<div class="container">
<div class="row mt-3 mb-5">
  <div class="col-md-3">

<p><h1>Assessments</h1></p>

<%= link_to 'Add a new one', new_questionnaire_path, class: "btn btn-primary" %>

<table class="mt-3">
  <thead>
    <tr>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quest_user.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.name %></td>
        <td><%= link_to 'Show', questionnaire, class: "btn btn-secondary" %></td>
        <td><%= link_to 'Edit', edit_questionnaire_path(questionnaire), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %></td>
      </tr>
    <% end %>
   </tbody>
</table>
<br>
</div>
</div>
</div>
<% else %>
          <h2> STUDENT <h2>
          <div class="container">
      <h1>Welcome to your dashboard <%= current_user.name %>!</h1>
      <div class="start_btn"><button>Start Quiz</button></div>

    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>Some Rules of this Quiz</span></div>
        <div class="info-list">
            <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
            <div class="info">2. Once you select your answer, it can't be undone.</div>
            <div class="info">3. You can't select any option once time goes off.</div>
            <div class="info">4. You can't exit from the Quiz while you're playing.</div>
            <div class="info">5. You'll get points on the basis of your correct answers.</div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart">Continue</button>
        </div>
    </div>

    <!-- Quiz Box -->
    <div class="quiz_box">
        <header>
            <div class="title">Start now!</div>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
                <!-- Here I've inserted question from JavaScript -->
                <%= javascript_pack_tag 'application' %>
            </div>
            <div class="option_list">
                <!-- Here I've inserted options from JavaScript -->
            </div>
        </section>

        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que">
                <!-- Here I've inserted Question Count Number from JavaScript -->
            </div>
            <button class="next_btn">Next Que</button>
        </footer>
    </div>

    <!-- Result Box -->
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
            <!-- Here I've inserted Score Result from JavaScript -->
        </div>
        <div class="buttons">
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit Quiz</button>
        </div>
    </div>
<% end %>
<button class=coffee>
            <a href="https://open.spotify.com/playlist/7nCRh8ivvFmxhVqpD6PqM0?si=08f214d682d24cc3">
                  <div>
                    <span>
                      <p><i class="fa fa-mug-hot"></i> Need a coffee break?</p><p>:)</p>
                    </span>
                  </div>
                  <div>
                    <span>
                      <h4><i class="fab fa-spotify"></i> Listen our playlist on Spotify</h4>
                    </span>
                  </div>
              </a>
          </button>
</div>
