<%= render 'shared/navbar' %>

<div class="row justify-content-center mt-4 mb-5">
  <div class="col-md-2" id="mysite">


  <% if current_user.teacher_role? %>
  <h3 class="mb-4"><strong><%= @questionnaire.name %></strong></h3>
    <h4>Token.: <%= @questionnaire.token %></h4>
    <% @questionnaire.questions.each do |question| %>
    <h4 class="mt-3 mb-4"><%= question.name %></h4>

    <% case question.question_type %>
      <% when 'single_choice' %>
        <% question.answers.each do |answer| %>
          <h5>
            <%= radio_button_tag question.id, answer.id %>
            <%= answer.name %>
          </h5>
        <% end %>
      <% when 'multiple_choice' %>
        <% question.answers.each do |answer| %>
          <h3>
            <%= check_box_tag question.id, answer.id %>
            <%= answer.name %>
          </h3>
        <% end %>
      <% when 'long_answer' %>
        <%= text_area_tag question.id %>
    <% end %>
    <% end %>
    <%= link_to 'Student\'s Grades', grades_path, class: "btn btn-outline-secondary mt-3" %>
  <%= link_to 'Edit', edit_questionnaire_path(@questionnaire), class: "btn btn-outline-primary mt-2" %>
<%= link_to '◀ Back', questionnaires_path, class: "btn btn-outline-secondary mt-2" %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModal">
  Tell Your Students
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send a messagens to all your students</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hello Students! Your <%=@questionnaire.name%> Test is waiting for you!
        Sign up to <a href="http://www.smarttests.net">http://www.smarttests.net </a> and use the Token: <strong> <%= @questionnaire.token %> </strong> to start. <br>
        Be careful: You can only take the quiz once! <br>
        Good Luck and Happy Testing 🍀 <br>
        Teacher <%= @questionnaire.user.name %>
      </div>
      <div class="modal-footer1">
        <button type="button" id="copy" class="btn6 btn-primary">Copy message</button>
        <button type="button" class="btn6 btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
</div>
<script>
let copybutton = document.querySelector("#copy")
copybutton.onclick = ()=>{
  /* Get the text field */
  var copyText = document.querySelector(".modal-body");

  /* Select the text field */
   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.innerText);
  copybutton.innerHTML = "Copied!"
}</script>
<%else%>

<div class='mt-8 ml-5'>

<script>
//Switched tab
//   window.onblur = function () {
//     // do some stuff after tab was changed e.g.
//     alert('Are you cheating? You switched the tab.');
// }

//   let siteTitle = '';
//   window.addEventListener('blur', () => {
//     siteTitle = document.title;
//     document.title = 'Come back! :c';
//   });
//   window.addEventListener('focus', () => {
//     document.title = siteTitle;
//   });
  let questions = JSON.parse('<%= raw(@questionsr.to_json) %>')

</script>
<% if StudentGrade.where(questionnaire_id: @questionnaire.id, user_id: current_user.id, repeat: false).present?%>
<%= image_tag "testdone.png" %>

<%= link_to '◀ Back', questionnaires_path, class: "btn_" %>
</div>
<%else%>
<div class="start_btn"><button>Start Test</button></div>
<%end%>
<!-- Info Box -->
<div class="info_box">
    <div class="info-title"><span>Some rules of this test</span></div>
    <div class="info-list">
        <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
        <div class="info">2. Once you select your answer, it can't be undone.</div>
        <div class="info">3. You can't select any option once time goes off.</div>
        <div class="info">4. You can't exit from the test while you're playing.</div>
        <div class="info">5. You'll get points on the basis of your correct answers.</div>
    </div>
    <div class="buttons">
        <button class="quit">Exit</button>
        <button class="restart" id="start_quiz">Continue</button>
    </div>
</div>

<!-- Quiz Box -->
<div class="quiz_box">
    <header>
        <div class="title">Test Application</div>
        <div class="timer">
            <div class="time_left_txt">Time Left</div>
            <div class="timer_sec">15</div>
        </div>
        <div class="time_line"></div>
    </header>
    <section>
        <div class="que_text">
            <!-- Here I've inserted question from JavaScript -->
        </div>
        <div class="option_list">
            <!-- Here I've inserted options from JavaScript -->
        </div>
    </section>

    <!-- footer of Quiz Box -->
    <footer>
        <div class="total_que">
            <!-- Here I've inserted Question Count Number from JavaScript -->
        </div>
        <button class="next_btn">Next Question</button>
    </footer>
</div>

<!-- Result Box -->
<div class="result_box">
    <div class="icon">

      <%= image_tag "lamp.png" %>

    </div>
    <div class="complete_text">You've completed the test!</div>
    <div class="score_text">
        <!-- Here I've inserted Score Result from JavaScript -->
    </div>
    <div class="buttons">
      <button class="restart">Replay Test</button>
      <button class="quit">Quit</button>
      <form action= "<%=@questionnaire.id%>/score" method="post" id="submitscore">
        <input type="text" id="scoreuser" name="score" class="d-none">
      </form>
    </div>
</div>
</div>

</div>
<%end%>
