<%= render 'shared/navbar' %>

<div class="row justify-content-center mt-3 mb-5">
  <div class="col-md-3">

  <h3 class="mb-4"><strong><%= @questionnaire.name %></strong></h3>
    <p>Teste token:<%= @questionnaire.token %></p>

  <% @questionnaire.questions.each do |question| %>
    <h4 class="mt-3 mb-4"><%= question.name %></h4>

    <% case question.question_type %>
      <% when 'single_choice' %>
        <% question.answers.each do |answer| %>
          <p>
            <%= radio_button_tag question.id, answer.id %>
            <%= answer.name %>
          </p>
        <% end %>
      <% when 'multiple_choice' %>
        <% question.answers.each do |answer| %>
          <p>
            <%= check_box_tag question.id, answer.id %>
            <%= answer.name %>
          </p>
        <% end %>
      <% when 'long_answer' %>
        <%= text_area_tag question.id %>
    <% end %>
  <% end %>
  <% if current_user.teacher_role? %>
<%= link_to 'Edit', edit_questionnaire_path(@questionnaire), class: "btn btn-outline-primary mt-3" %>
<%= link_to 'Back', questionnaires_path, class: "btn btn-outline-secondary mt-2" %>
</div>
<%else%>
<%= link_to 'Submit Answers', class: "btn btn-outline-primary mt-3" %>
<%end%>
</div>
